#main .post-content .fusion-text.gs-email-subscription-text p{
    padding-left: 0!important;
}
#main .post-content .equal-height .fusion-builder-row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
  
#main .post-content .equal-height .fusion-builder-row .fusion-column-wrapper {
    height: 100%;
}

.gs-wts-column .fusion-image-element {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.gs-wts-image-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.gs-wts-image-item.fusion-imageframe img {
    min-height: 230px;
    object-fit: contain;
}

/* What They Say about us Section */
.wts-row .fusion-builder-row {
    margin-top: 78px !important
}
.gs-wts-column .fusion-content-layout-column {
    z-index: 1001 !important;
    overflow: visible !important;
}

.gs-wts-image-item {
    overflow: visible !important;
    z-index: 1000 !important;
    margin-bottom: 6px !important;
}

.gs-wts-item-footer {
    display: flex !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.gs-wts-item-footer h3 {
    margin: 10px 0 !important;
    padding: 0 16px !important;
    font-family: 'Open Sans' !important;
    font-size: 25px !important;
    font-weight: 700;
}

.gs-wts-item-footer p {
    padding: 0 16px !important;
    text-transform: uppercase !important;
    margin: 0 !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}

