
.gs-login-btn {
    border:2px solid #5ab1d7;
    color:black ;
    background: transparent ;
    padding: 5px 14px 5px 14px;
    border-radius: 7px;
    margin-left:7px;
    font-size:14px;
    font-weight: 500;
    font-family: "Poppins";
}
.gs-signup-btn {
    border:2px solid #5ab1d7;
    color:white ;
    background:#5ab1d7;
    padding: 5px 14px 5px 14px;
    border-radius: 7px;
    margin-left:-2px;
    font-size:14px;
    font-weight: 500;
    font-family: "Poppins";
}
.menu-divider {
    margin-right:10px;
    max-width: 1px;
    width: 1px;
    min-height: 25px;
    height: 25px;
    background: black;
}


/* Custom CSS for the Login Modal */
#loginModal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginModal .modal-content {
    padding: 20px;
    
    max-width:460px;
    background-color: #fff; 
    border-radius: 10px;
    border: none;

}

#loginModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-top:0px;
}

#loginModal .modal-title {
    color: black;
    font-size:32px; 
    line-height: 38px;
    font-weight: 700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin: 0 auto; 
    letter-spacing: normal;
    font-family: "Poppins";
    
    padding-left:0px;

}

.alt-title-color {
    color:#008fc6;
    line-height: 2.7rem;
}

#loginModal .modal-body {
    padding: 2rem 1rem;
}


#loginModal input[type=checkbox] {
    margin:0px !important;
}

#loginModal .modal-body .form-control {
    height: auto; 
    padding: 0.75rem; 
    font-size: 1rem; 
    border-radius: 0.25rem;
    border: 1px solid #ced4da; 
    margin-bottom: 1rem; 
}

#loginModal .modal-footer {
    border-top: none;
    padding-top: 0;
    justify-content: center;
}

#loginModal .btn-primary {
    width: 100%; 
    background-color: #d9534f; 
    border-color: #d9534f;
    font-size:16px;
    padding-top:7px;
    padding-bottom:7px;
    border-radius: 7px;
    margin-bottom: 0.5rem; 
}

#loginModal .btn-danger {
    width: 100%; 
    
}

.google-btn {
    background: #f7f7f7 !important;
    color:black !important;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 7px;
    border:none !important;
}


#loginModal .modal-footer{
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color:black !important;
    letter-spacing: normal;
}

#loginModal .modal-footer a {
    color: black; 
    margin-top:15px;

    text-decoration: none;
    text-align: center; 
}

.login-forget-password {
    text-align:right;
    color:black;
}


#loginModal .form-check-label {
    margin-bottom: 1rem; 
}

#loginModal .form-check-input {
    margin-right: 0.5rem;
}

/* Custom CSS for OR separator */
.or-separator {
    margin: 2rem 0;
    text-align: center;
    border-bottom: 1px solid #ced4da;
    line-height: 0.1rem;
    font-weight: 700;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    #loginModal .modal-dialog {
        width: 90%; /* Modal width on smaller screens */
    }

}


/* Modal styles */
.gs-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(194 194 194 / 40%); /* Dimmed background */
}

.gs-modal-dialog {
    background-color: #FCFAFA;
    margin: 10% auto;
    padding: 20px 10px;
    width: 460px;
    max-width: 84%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: -4px 5px 7px 0px #b8b8b8d1;
}

/* .gs-modal-content {
    padding: 0 25px;
} */
/* Add more styles for the form and other elements as needed */
#gsLoginModal .gs-modal-header h2 {
    font-size: 36px;
    padding: 20px 0 0px 0 !important;
}

.gs-form-group {
    margin-bottom: 15px;
}

.gs-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.gs-form-group label {
    display: block;
    margin-bottom: 5px;
}

.gs-form-check {
    display: flex;
    align-items: center;
}

.gs-form-check input[type="checkbox"] {
    margin-right: 5px;
}

.gs-form-half {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.gs-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.gs-btn-primary {
    background-color: #007bff;
    color: white;
}

.gs-btn-primary:hover {
    background-color: #0056b3;
}

.gs-btn-danger {
    background-color: #dc3545;
    color: white;
    width: 100%;
}

.gs-btn-secondary {
    background-color: #FEFEFE;
    color: #000;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 0px 5px #ddd;
    font-weight: 600;
}

.gs-btn-danger:hover {
    background-color: #bd2130;
}

/* MemberPress Form in GS Login Modal*/
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#user_login {
    height: 41px !important;
    border-radius: 8px !important;
    background-color: #FEFEFE !important;
    border: 1px solid #008FC6 !important;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#user_pass {
    height: 41px !important;
    border-radius: 8px !important;
    background-color: #FEFEFE !important;
    border: 1px solid #008FC6 !important;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-form-row label {
    display: block !important;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-form-row label[for="user_login"] {
    margin-bottom: 6px !important;
    font-weight: 700;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-form-row label[for="user_pass"] {
    margin-bottom: 6px !important;
    font-weight: 700;
}
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-hide-pw button.button.mp-hide-pw.hide-if-no-js {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    background: 0 0;
    color: #85929e;
    text-decoration: none;
    padding: 1em 1.4em;
    border: none !important;
    box-shadow: none;
}
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-hide-pw {
    position: relative;
}
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mp-hide-pw button.button.mp-hide-pw.hide-if-no-js .dashicons-visibility:before {
    content: "\f177";
}
/* #gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#rememberme {
    background-color: #FEFEFE !important;
    border: 1px solid #008FC6 !important;
} */
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#rememberme[type="checkbox"] {
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    -moz-appearance: none;    /* Remove default styling for Mozilla browsers */
    appearance: none;         /* Remove default styling */
    width: 20px;              /* Width of the checkbox */
    height: 20px;             /* Height of the checkbox */
    border: 1px solid #008FC6;   /* Border around the checkbox */
    cursor: pointer;          /* Cursor changes to pointer when hovering over the checkbox */
    position: relative; /* Position relative to allow absolute positioning of pseudo-elements inside */
    display: inline-block; /* Ensure the checkbox aligns properly with text if needed */
}
/* Hide the checkmark by default */
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#rememberme[type="checkbox"]::after {
    content: '';
    position: absolute;
    display: none;
}

/* Style and show the checkmark when the checkbox is checked */
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#rememberme[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 3px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

/* Style for checked state */
#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form input#rememberme[type="checkbox"]:checked {
    background-color: #008FC6; /* Background color when checked */
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .gs-memberpress-login-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .gs-memberpress-login-remember {
    display: flex;
    flex-grow: 0;
    margin-right: auto;
    align-items: center;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mepr-login-actions {
    display: flex !important;
    flex-grow: 1;
    text-align: right;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .mepr-login-actions a{
    color: #000;
    text-decoration: underline;
}

#gsLoginModal .gs-modal-body .mp_wrapper .mepr-form .gs-mepr-login {
    width: 100%;
    padding: 10px 5px !important;
    background: #FF3131 !important;
    color: #fff !important;
    border-radius: 8px !important;
    font-size: 1.1rem !important;
}

#gsLoginModal .gs-modal-body .mp_wrapper .or-separator {
    text-align: center;
    margin: 30px 0;
}

#gsLoginModal .gs-modal-body .mp_wrapper .or-separator span {
    background: #FCFAFA; 
    padding: 0 10px;
    font-size: 1.5rem;
}

#gsLoginModal .gs-modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

#googleLoginButton {
    font-size: 1.1rem !important;
    margin-bottom: 1.2rem;
}

#gsLoginModal .gs-modal-footer span.gs-modal-signup {
    font-weight: 700;
    font-size: 1rem;
}

#gsLoginModal .gs-modal-footer span.gs-modal-signup .alt-signup-text
{
    color:#FF3131 !important;
}

button#googleLoginButton {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

button#googleLoginButton svg {
    display: flex;
    justify-content: flex-start;
}

button#googleLoginButton span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#googleSignupButton {
    font-size: 1.1rem !important;
    margin-bottom: 1.2rem;
}

#gsLoginModal .gs-modal-footer span.gs-modal-signup {
    font-weight: 700;
    font-size: 1rem;
}