.home .custom-search-heading {
    display:none;
}

.home .custom-search-box .filter-wrapper {
    padding-top: 30px;
}

.home .filter-wrapper {
    padding-right:10%;
    padding-left:10%;
}

.home #main {
    max-width: 1800px;
    margin: auto !important;
}

.home .post-content {
    max-width: 1400px;
    margin: auto;
}


.home #main .fusion-post-content-wrapper p {
    font-size: 18px;
}

.home #main .statistics p {
    font-size: 22px;
    font-family:"Open Sans",sans-serif;
    font-weight:600;
}

.home #main .statistics h4 {
    font-weight:400 !important;
    font-size: 50px !important;
    padding:0px !important;
    margin:0px !important;
}

.home #main .statistics .no-bold p{
    font-weight:400;
    font-size:18px;
}


.page-template-page-homepage #main {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0;
}

.page-template-page-homepage #main .fusion-fullwidth {
    margin-bottom: 30px !important;
}

.page-template-page-homepage #main .post-content {
    width: 100% !important;
    margin: auto;
    max-width: 100% !important;
    padding: 0 !important;

}

.page-template-page-homepage .gs-homepage-search-form {
    display: flex;
    border-radius: 10px;
    box-shadow: 15px 23px 14px 0px rgba(188,188,188,0.25);
    -webkit-box-shadow: 15px 23px 14px 0px rgba(188,188,188,0.25);
    -moz-box-shadow: 15px 23px 14px 0px rgba(188,188,188,0.25);
}

.page-template-page-homepage .gs-homepage-search-form .search_container {
    width: 100%;
    padding-bottom: 0;
    height: 70px;
}

.page-template-page-homepage .gs-homepage-search-form .search_container input#search {
    font-size: 20px;
    height: 76px !important;
    border: none !important;
}

.page-template-page-homepage .gs-homepage-search-form button.search-submit-search {
    height: 76px;
    padding: 4px 24px;
    border-radius: 46% 10px 10px 46%;
    border: none !important;
    background: #3E8CBF;
}
.page-template-page-homepage .gs-homepage-search-form button.search-submit-search:hover {
    cursor: pointer;
}

.page-template-page-homepage #main .fusion-builder-row {
    max-width: 1400px !important;
    margin: auto !important;
    padding: 0 0 !important;
}

.page-template-page-homepage #main .gs-homepage-hero .fusion-builder-row .gs-homepage-hero-text p{
    padding: 0px !important;
}

.page-template-page-homepage #main .gs-homepage-hero {
    padding-top: 30px !important;
}

.page-template-page-homepage #main .gs-homepage-title.gs-homepage-connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-template-page-homepage #main .gs-homepage-title.gs-homepage-connect h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    max-width: max-content;
}

.page-template-page-homepage #main .gs-homepage-featured-in-images .fusion-column-wrapper .fusion-image-element {
    margin: 12px 12px 0 12px;
}

.page-template-page-homepage #main .search-submit-search svg {
    width: 40px !important;
    height: 40px !important;
}

.page-template-page-homepage #main .gs-homepage-connect-images .fusion-column-wrapper {
    gap: 3rem;
    padding: 12px;
}

.page-template-page-homepage #main .gs-homepage-title h1{
    font-size: 3.6rem !important;
}

.page-template-page-homepage #main .gs-homepage-title h2{
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}


@media only screen and (max-width: 768px) {
    .page-template-page-homepage #main .gs-homepage-hero {
        margin-top: 30px !important;
    }
    
    .page-template-page-homepage #main .gs-homepage-title h1{
        font-size: 2.5rem !important;
        font-weight: 800 !important;

    }
    
    .page-template-page-homepage #main .gs-homepage-title h2{
        font-size: 2.4rem !important;
        font-weight: 700 !important;
    }

    .page-template-page-homepage #main .gs-homepage-featured-in-images .fusion-column-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 1rem;
        padding: 12px;
    }

    .page-template-page-homepage #main .gs-homepage-our-partners-images .fusion-column-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 1rem;
        padding: 12px;
    }

    .page-template-page-homepage #main .gs-homepage-connect-images .fusion-column-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        gap: 1rem;
        padding: 12px;
    }
     .page-template-page-homepage #main .gs-homepage-about {
        padding: 0 20px !important;
    }
    .page-template-page-homepage  #main .gs-homepage-connect-container {
        background-color: #fcfcfc !important;
    }
    .page-template-page-homepage  #main .gs-homepage-connect-container .fusion_builder_column_1_1{
        background-color: inherit !important;
    }

    .page-template-page-homepage  #main .gs-featured-in-section {
        background-color: #f9f9f9 !important;
    }

    .page-template-page-homepage  #main .gs-featured-in-section .fusion_builder_column_1_1{
        background-color: inherit !important;
    }

    .page-template-page-homepage #main .gs-homepage-scholarships {
        margin-top: 40px !important;
        padding: 0 20px !important;
    }

    .page-template-page-homepage #main .gs-homepage-hero{
        padding: 0 20px !important;
    }

    .page-template-page-homepage #main .gs-homepage-courses {
        margin-top: 40px !important;
        padding: 0 20px !important;
    }

    .page-template-page-homepage #main .fusion-blog-layout-grid .fusion-post-grid {
        padding: 0px !important;
    }
    
    .page-template-page-homepage .gs-homepage-search-form .search_container {
        width: 100%;
        padding-bottom: 0;
        height: 56px;
    }

    .page-template-page-homepage .gs-homepage-search-form .search_container {
        width: 100%;
        padding-bottom: 0;
        height: 60px;
    }

    .page-template-page-homepage #main .search-submit-search svg {
        width: 22px !important;
        height: 40px !important;
    }

    .page-template-page-homepage .gs-homepage-search-form button.search-submit-search {
        height: 60px;
        padding: 4px 24px;
        border-radius: 46% 10px 10px 46%;
        border: none !important;
        background: #3E8CBF;
    } .page-template-page-homepage .gs-homepage-search-form button.search-submit-search:hover {
        cursor: pointer;
    }
    .page-template-page-homepage .gs-homepage-search-form .search_container input#search {
        font-size: 18px;
        height: 60px !important;
        border: none !important;
    }
    .page-template-page-homepage .gs-homepage-search-form #search-results {
        width: 88% !important;
        padding: 0 8px !important;
    }
    .page-template-page-homepage #main .search-results-container li.list-group-item {
        font-size: 16px !important;
    } 
    .page-template-page-homepage .gs-homepage-search-form .search_container input#search::placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
    }
}


.page-template-page-homepage #main .gs-homepage-navigation-button a.gs-homepage-navigation-button {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #3E8CBF;
    padding: 20px 0 !important;
    width: 230px !important;
    min-height: 60px !important;
}

.page-template-page-homepage #main .gs-homepage-navigation-button a.gs-homepage-navigation-button span.fusion-button-text {
    color: #000 !important;
}

.page-template-page-homepage #main .gs-homepage-navigation-button a.gs-homepage-navigation-button:hover {

    border: 1px solid #3E8CBF;
    background-color: #3E8CBF !important;
}

.page-template-page-homepage #main .gs-homepage-navigation-button a.gs-homepage-navigation-button:hover span.fusion-button-text {
    color: #fff !important;
}

.page-template-page-homepage #main .gs-homepage-about-text p {
    padding: 4px 0px;
}

.page-template-page-homepage #main .gs-homepage-courses-text p {
    padding: 4px 0px;
}

.page-template-page-homepage #main .gs-homepage-about-founder h1::before{
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #3E8CBF;
    width: 78px;
}



.page-template-page-homepage #main .gs-homepage-about-founder h1::after{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #3E8CBF;
    width: 78px;
}

.page-template-page-homepage #main .fusion-post-wrapper {
    box-shadow: 0px 4px 6px #72717121;
}

.page-template-page-homepage #main .gs-featured-in-section {
    z-index: 1;
}


.page-template-page-homepage #main .gs-homepage-hero{
    z-index: 10;
}

.page-template-page-homepage #main .search-input::placeholder {
    font-size: 20px !important;
    font-weight: bold;
}

.page-template-page-homepage #main .search-results-container .type-heading {
    margin: 8px 0px 0px 0px !important;
    padding: 5px !important;
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 700;
    font-family: 'Open Sans';
}

.page-template-page-homepage #main .search-results-container li.list-group-item {
    cursor: pointer;
    margin-bottom: 0px !important;
}

#main .search-results-container li.list-group-item {
    padding: 0 !important;
}
#main .search-results-container li.list-group-item a {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
}

.page-template-page-homepage #main .search-results-container li.list-group-item:hover {
    background-color: #3E8CBF;
    color: #fff !important;
}

.page-template-page-homepage #main .search-results-container li.list-group-item a.list_result_item {
    color: #000 !important;
}

.page-template-page-homepage #main .search-results-container li.list-group-item:hover a.list_result_item {
    color: #fff !important;
}
