@media only screen and (max-width: 768px) {

    .single-scholarships #main .post-content .gs-scholarship-outro .gs-popular-scholarships-container .gs-popular-scholarship-item {
        width: 100%;
    }

    .single-scholarships #main .post-content .gs-scholarship-outro .gs-popular-scholarships-container .gs-popular-scholarship-item a {
        width: 100%;
        max-width: 100%;
        margin: 8px 35px !important;
    }

    .single-scholarships .post-content .gs-feedback-form-container .gs-feedback-radio-question {
        width: 100%;
        justify-content: center;
    }
    .single-scholarships .post-content .gs-feedback-form-container .gs-feedback-initial-answers {
        flex-direction: column;
    }

    .single-scholarships .post-content .gs-feedback-form-container input[name="helpful"] ~ .gs-feedback-radio-btn {
        display: flex;
        max-width: 420px;
        height: 72px;
        justify-content: center;
        width: 100%;
        border-radius: 6px;
        padding: 0 !important;
    }

    .single-institution .gs-institution-overview-box .gs-institution-overview-text h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem !important;
        font-weight: 700;
        text-align: center;
        line-height: 1.8rem !important;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institutions-breadcrumbs {
        margin-top: 24px;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary .gs-institution-summary-item .gs-institution-icon svg {
        max-height: 50px !important;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institutions-breadcrumbs a {
        font-size: 1rem !important;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem !important;
        font-weight: 400;
        text-align: center;
        line-height: 1rem;
        color: #000000 !important;
        margin: 1.2rem 0;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary .gs-institution-summary-item .gs-institution-icon svg {
        max-height: 30px !important;
        width: 50px !important;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary .gs-institution-summary-item .gs-institution-data .gs-institution-data-title {
        text-align: left !important;
        font-size: 1rem;
        line-height: 1.2rem !important;
    }

    #main .gs-institution-explore-courses {
        flex-direction: column-reverse;
    }
    
    #main .gs-institution-explore-courses .gs-institution-explore-courses-content {
        max-width: 100%;
        width: 100%;
    }
    


    #main .gs-institution-explore-courses .gs-institution-explore-courses-thumbnail-container {
        max-width: 100%;
        width: 100%;
        margin-bottom: 16px;
    }
    .single-institution #main .gs-institution-scholarships .gs-institution-graduate {
        flex-direction: column-reverse;
    }

    .single-institution #main .gs-institution-addon-box {
        width: 94% !important;
        margin-top: 30px !important;
    }

    .single-institution #main .gs-institution-scholarships .gs-institution-graduate .gs-institution-graduate-content {
        max-width: 100%;
        width: 100%;
    }

    .single-institution #main .gs-institution-scholarships .gs-institution-graduate .gs-institution-graduate-thumbnail-container {
        max-width: 100%;
        width: 100%;
        margin-bottom: 16px;
    }

    .single-institution #main .gs-institution-admissions .gs-institution-admissions-boxes {
        flex-direction: column;
        margin-top: 16px;
    }

    .single-institution #main .gs-institution-admissions .gs-institution-admissions-boxes .gs-institution-admissions-box {
        width: 94% !important;
        margin: 0 auto;
        padding: 20px !important;
    }

    .single-institution #main .gs-institution-deadlines .gs-institution-deadlines-content ul.gs-institution-deadlines-list {
        margin-left: 30px;
        max-width: 80%;
    }
    

    .single-institution #main .gs-institution-deadlines .gs-institution-deadlines-container .gs-institution-deadlines-thumbnail {
        display: none;
    }

    .single-institution .gs-institution-overview-box {
        padding: 15px 5px 15px 5px;
        border-radius: 20px;
    }

    .single-institution .gs-institution-overview-box .gs-institution-overview-text h1{
        font-family: 'Roboto', sans-serif;
        font-size: 2.1rem;
        font-weight: 700;
        text-align: center;
        line-height: 2rem;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary .gs-institution-summary-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 8px;
        flex: 1 1 0px;
        padding: 10px;
    }

    .single-institution #main .gs-institution-overview-box .gs-institution-overview-text .gs-institution-summary .gs-institution-summary-item + .gs-institution-summary-item {
        border-left: none;
    }

    .single-institution #main .gs-institution-navigation-panel .gs-institution-items-container {
        padding: 10px !important;
        border-radius: 20px !important;
    }

    .single-institution #main .gs-institution-navigation-panel .gs-institution-items-container a.institution-panel-item {
        width: 100%;
        max-width: 100%;
        font-size: 1rem !important;
        padding: 6px 10px;
    }

    .single-institution #main .gs-institution-no-scholarships .gs-institution-no-scholarships-scholarship-container h3 { 
        font-size: 1.5rem !important;
        line-height: 1.6rem !important;
    }

    .single-institution #main .gs-institution-tuition-fees .gs-institution-tuition-fees-for-international-average {
        max-width: 500px;
    }

    .single-institution #main .gs-institution-tuition-fees .gs-institution-tuition-fees-for-international-average .gs-institution-tuition-fees-item h2 {
        font-size: 1.3rem !important;
    }

    .single-institution #main .gs-institution-scholarships .gs-institution-graduate {
        max-width: 94% !important;
    }

    .single-institution #main .gs-institution-scholarships .gs-institution-scholarships-text .gs-institution-scholarships-scholarship-container {
        margin-right: 15px;
        margin-left: 15px;
    }

    /* Email Subscription Page */

    #main .post-content .gs-email-subscription-hero-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 20px !important;
    }
    #main .post-content .fusion-title.gs-email-subscription-heading h1 {
        font-size: 30px !important;
    }
    #main .post-content .fusion-title.gs-email-subscription-heading h1 span{
        font-weight: bolder !important;
    }

    #main .post-content .fusion-text.gs-email-subscription-text{
        margin-top: 20px !important;
    }

    #main .post-content .fusion-text.gs-email-subscription-text p {
        padding:0 !important;
    }

    /* #main .post-content .gs-wts-column .fusion-column-wrapper {
        margin-bottom: 100px !important;
    } */

    #main .post-content .wts-row .fusion-builder-row {
        margin-top: -10px !important;
    }
}

@media only screen and (max-width: 600px) {
    .page-template-template-partner .gs-partner-why-us-section .gs-partner-why-us-section-boxes .why-us-boxes-container .why-us-box {
        width: 100% !important;
        min-height: 150px;
        height: 100%;
    }

    .page-template-template-partner .gs-partner-get-started-section {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .page-template-template-partner .gs-partner-get-started-section .gs-partner-gs-started-featured-image {
        display: none;
    }

    .page-template-template-partner .gs-partner-get-started-section .gs-partner-get-started-container {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 768px)  {
    body.single.single-institution #main #content {
        width: 88% !important;
        margin: 0 auto !important;
    }

    .single-institution #main .gs-institution-navigation-panel .gs-institution-items-container {
        width: 100% !important;
    }

    .single-institution #main .gs-institution-navigation-panel .gs-institution-items-container a.institution-panel-item {
        padding: 6px 10px;
        font-size: 15px;
        width: 20%;
        max-width: 160px;
        margin-right: 0;
        border-radius: 50px;
    }

    .single-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a {
        max-width: 250px;
        font-size: 14px !important;
    }
}