.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-scholarship-summary-list-items li {
    font-size: 1.1rem;
    list-style-position: inside !important;
    padding-left: 1.2em !important;
    text-indent: -1.4em !important;
    margin-bottom: 3px;
}

/* External Scholarships Hosting Countries (Summary List Box) */   
.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-ext-scholarship-hosting-country-container {
    display: inline;
}
/* External Scholarships Nationalities (Summary List Box) */
.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-ext-scholarship-nationalities-container {
    display: inline;
}
/* External Scholarships Programs (Summary List Box) */
.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-ext-scholarship-programs-container {
    display: inline;
}
/* External Scholarships Eligible Universities (Summary List Box) */
.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-ext-scholarship-eligible-universities-container {
    display: inline;
}
.single-ext-scholarships #main .post-content .gs-scholarship-summary .gs-scholarship-summary-box .gs-ext-scholarships-duration {
    padding-left: 100px;
    font-weight: 700;
    margin-top: 0px;
    line-height: 28px;
    font-size: 17px;
}
.single-ext-scholarships .post-content {
    width: 1250px;
    max-width: 100%;
    margin: auto;
}
.single-ext-scholarships .post-content .gs-scholarship-overview-box {
    background-color: #e8f1f8;
    max-width: 100%;
    padding: 20px;
    border-radius: 30px;
    margin: 15px;
}
.single-ext-scholarships #main .post-content .gs-scholarship-overview-box p {
    font-size: 16px;
    line-height: 24px;
}
.single-ext-scholarships .post-content .gs-scholarship-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1250px;
    margin: 30px auto 0 auto;
}
.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #FFFCFC;
    box-shadow: 0px 6px 6px #7f7e7e;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    height: max-content;
}
.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1rem;
    max-width: 100%;
    margin: 20px;
}

.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-summary-box {
    background-color: #FFFCFC;
    box-shadow: 0px 3px 6px #7f7e7e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-summary-box p.gs-scholarship-summary-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem !important;
    padding: 0;
    text-align: center;
    font-weight: bold !important;
}
.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-scholarship-summary-insitute-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-scholarship-summary-insitute-image img {
    width: 80px;
}


.single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-scholarship-summary-insitute-image img {
    width: 80px;
}

.single-ext-scholarships .post-content .gs-ext-scholarship-disclaimer {
    background-color: #E8F1F8;
    padding: 20px 7px;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.25);
    border-radius: 22px;
    margin-top: 1.5rem;
}
.gs-ext-schoalrship-application-requirements {
    background-color: #E8F1F8;
    padding: 12px;
    border-radius: 22px;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.25);
    margin: 1.5rem 0;
}
.gs-ext-schoalrship-application-requirements h3 {
    margin: 0;
}
.gs-ext-schoalrship-application-procedures {
    background-color: #FFFCFC;
    padding: 12px;
    border-radius: 22px;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.25);
    margin: 1.5rem 0;
}
.gs-ext-schoalrship-application-procedures h3 {
    margin: 0;
}

.single-ext-scholarships #main .post-content .gs-ext-schoalrship-application-procedures ol {
    margin-left: 2.5em;
}

.single-ext-scholarships #main .post-content .gs-ext-schoalrship-application-procedures ol li::marker {
    font-weight: 900;
}

.gs-ext-schoalrship-official-container {
    background-color: #E8F1F8;
    padding: 12px;
    border-radius: 22px;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.25);
    margin: 1.5rem 0;
}
.gs-ext-schoalrship-official-container h2 {
    margin: 0;
    padding-top: 12px;
    font-size: 1.8rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.single-ext-scholarships #main .post-content .gs-ext-scholarship-coverage ul.fa-ul {
    margin-left: 4.5em;
}

.single-ext-scholarships .post-content .gs-ext-scholarship-coverage span.fa-li svg {
    fill: #66A0F6;
    margin-top: 5px;
}
.single-ext-scholarships #main .post-content .gs-ext-schoalrship-application-requirements ul.fa-ul {
    margin-left: 4.5em;
}

.single-ext-scholarships .post-content .gs-ext-schoalrship-application-requirements span.fa-li svg {
    fill: #66A0F6;
    margin-top: 5px;
}


/* Navigation Panel GS Sections */

.single-ext-scholarships .post-content nav.gs-scholarship-navigation-panel {
    width: 92%;
    margin: 45px auto 10px auto;
}

.single-ext-scholarships .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    /* align-items: center; */
    padding: 10px;
    background: #F9F9F9;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 700;
    /* min-width: 25%;
    height: 70px; */
    /* text-wrap: nowrap; */
    background: transparent !important;
    margin-right: 0;
    border-radius: 50px;
    color: #000 !important;

}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active {
    background-color: #5EA9E4 !important;
    color: #fff !important;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active svg {
    fill: #fff !important;
}
.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active svg g {
    fill: #fff !important;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover {
    background-color: #5EA9E4 !important;
    color: #fff !important;
    cursor: pointer;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover svg {
    fill: #fff !important;
}
.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover svg g {
    fill: #fff !important;
}

/* SVG icons oranize Styling */

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.scholarship-coverage-item svg {
    width: 40px;
    max-height: 40px !important;
    margin-right: 18px;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.scholarship-eligibility-criteria-item svg {
    width: 40px;
    max-height: 40px !important;
    margin-right: 18px;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.scholarship-application-procedure-item svg {
    width: 40px;
    max-height: 40px !important;
    margin-right: 18px;
}

.single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.scholarship-deadline-item svg {
    width: 40px;
    max-height: 40px !important;
    margin-right: 18px;
}

.single-ext-scholarships #main .post-content .gs-scholarship-overview-box .gs-scholarship-overview-text h1 {
    font-size: 30px !important;
}

@media only screen and (min-width: 768px){

    /* External Scholarships Box Overview */

    .single-ext-scholarships .post-content .gs-scholarship-overview-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        max-width: 100%;
        padding: 20px;
        border-radius: 18px;
        background-color: #e8f1f8;
    }

    .single-ext-scholarships .post-content .gs-scholarship-overview-box .gs-scholarship-overview-image img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
        height: 90%;
        object-fit: cover;
        border-radius: inherit;
    } 

    /* Single Scholarships Summary Box */
    
    .single-ext-scholarships .post-content .gs-scholarship-summary {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        max-width: 1120px;
        margin: 80px auto 0 auto;
    }

    .single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: 50%;
        background-color: #FFFCFC;
        box-shadow: 0px 6px 6px #7f7e7e;
        border-radius: 20px;
        padding: 20px;
        margin: 0 0 0 20px;
    }
    .single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: start;
        justify-content: flex-start;
        height: 80%;
        width: 100%;
        padding: 10px;
        flex-wrap: wrap;
    }

    .single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-summary-box {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 200px;
        align-items: center;
        justify-content: center;
        background-color: #FFFCFC;
        box-shadow: 0px 3px 6px #7f7e7e;
        border-radius: 20px;
    }

    .single-ext-scholarships .post-content .gs-scholarship-summary .gs-scholarship-summary-info-boxes .gs-summary-box p.gs-scholarship-summary-title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3rem !important;
        padding: 0;
        text-align: center;
    }

    
    /* Navigation Panel GS Sections */

    .single-ext-scholarships .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 15px 28px;
        background: #F9F9F9;
        border-radius: 50px;
        border: 1px solid #ccc;
        /* width: 90%; */
        margin: 0 auto;
        gap: 10px;
    }
    

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container .gs-scholarship-item {
        padding: 16px;
        width: 24.9%;
        background: transparent !important;
        margin-right: 10px;
        border-radius: 50px;
    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container .gs-scholarship-item:hover {
        background: #5EA9E4 !important;

    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 20px;
        font-size: 18px;
        font-weight: 700;
        flex: 1 1 0px;
        height: 70px;
        background: transparent !important;
        width: 25%;
        max-width: 260px;
        margin-right: 10px;
        border-radius: 50px;
        color: #000 !important;

    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active {
        background-color: #5EA9E4 !important;
        color: #fff !important;
    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active svg {
        fill: #fff !important;
    }
    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a.active svg g {
        fill: #fff !important;
    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover {
        background-color: #5EA9E4 !important;
        color: #fff !important;
        cursor: pointer;
    }

    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover svg {
        fill: #fff !important;
    }
    .single-ext-scholarships #main .post-content nav.gs-scholarship-navigation-panel .gs-scholarship-items-container a:hover svg g {
        fill: #fff !important;
    }

}




#main .gs-institution-explore-courses{
    display: flex;
    background-color: #EAF4FB;
    padding: 28px;
    max-width: 90%;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    margin: 0 auto;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-content {
    max-width: 100%;
    width: 75%;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-content .gs-institution-explore-courses-text {
    padding: 0;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-content p.gs-institution-explore-courses-title {
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-thumbnail-container {
    max-width: 100%;
    width: 25%;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-title{
    font-family: 'Roboto', sans-serif;
}

#main .gs-institution-explore-courses .gs-institution-explore-courses-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 18px;
    background-color: #3C76E6;
    color: #ffffff !important;
    margin-top: 16px;
    display: flex;
    width: max-content;
    border-radius: 6px;
}


