@media (min-width: 767px) {
    .wise{
    width:70% !important;
    }
}

.wise {
   
    margin:auto;
    padding:20px !important;
    font-size:18px !important;
}

.wise {
    width: 94% !important;
    margin-left: 16px;
    padding: 30px !important;
    font-size: 18px !important;
    border-left: solid 8px;
    border-color: #DD4B39;
    display: block;
    font-weight: 600 !important;
    background: #f3f3f3;
}